.base {
  height: 100%;
  background: linear-gradient(to right, #71b08f, /* #8a9a5b); */ #b2beb5);
}
.canvas_base {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}
.introduction_box {
  /* background-color: linear-gradient(to bottom right, #71b08f, #ffdf00); */
  /* background: linear-gradient(to bottom right, #71b08f, #ffdf00); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  width: 100vw;
  height: 35vh;
  /* border: 15px solid #d3dfe0; */
  /* margin: 20px; */
  z-index: 950;
  position: fixed;
  font-size: 3rem;
  top: 0;
}
.scroll_comp {
  position: absolute;
  top: 450;
}
.porfolio_name {
  position: fixed;
  /* top: 550; */
  left: 2px;
  font-size: 1.7rem;
  color: white;
  /* font-style: italic; */
  z-index: 980;
}
.head-info {
  display: flex;
  /* flex-direction: column; */
  margin: 2%;
  font-style: italic;
  width: 100%;
  font-size: 3rem;
  padding: 5%;
  justify-content: center;
  align-items: center;
}
.work_experience_box {
  width: 90vw;
  height: 35vh;
  /* border: 15px solid #d3dfe0; */
  margin: 20px;
  display: flex;
  flex-direction: row;
  /* background-color: #f7f1e3; */
}
.exp_box {
  width: 30vw;
  /* height: 35vh; */
  /* background-color: #456a6e; */
  border-left: 2px solid black;
  padding-left: 10px;
  opacity: 0.7;
}
.exp_box:hover {
  width: 85vw;
  z-index: 999 !important;
  opacity: 1;
}

.image-div-head {
  display: flex;
  flex-direction: row;
  /* border: 10px solid white; */
  border-radius: 30px;
  padding: 10px;
  /* justify-content: center; */
  /* align-items: center; */
}

.about_me_box {
  width: 90vw;
  height: 50vh;
  /* background-color: white; */
  color: white;
  margin: 20px;
  font-style: italic;
  opacity: 0.7;
}

.about_me_box:hover {
  opacity: 1;
}

.scroll_comp {
  overflow: scroll;
  z-index: 890;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my_intro {
  width: 90vw;
  margin: 20px;
  height: 30vh;
  /* background-color: black; */
  color: white;
  opacity: 0.7;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  font-style: italic;
}
.my_intro:hover {
  opacity: 1;
}

.contact_box {
  width: 100vw;
  height: 15vh;
  background-color: black;
  color: white;
  z-index: 999;
}
